.star {
    background: url("../../assets/Star\ 1.png") no-repeat center center;
    width: 280px;
    height: 280px;
    font-size: 64px;
}

.card {
    padding: 5px;
    width: 300px;
    min-height: 200px;
    gap: 10px;
    font-size: 32px;
    border: 1px solid #000;
}